@import "tailwindcss";

:root {
  
  /* COLORS */
  --phv-background-color: oklch(98.5% 0.001 106.423);
  --phv-text-color: oklch(39.3% 0.095 152.535);
  --phv-guides-color: oklch(92.3% 0.003 48.717);
}

@theme inline {
  --font-instrument: var(--font-instrument-serif);
  --font-schibsted: var(--font-schibsted-sans);

  --color-background: var(--phv-background-color);
  --color-primary: var(--phv-text-color);
  --color-guides: var(--phv-guides-color);
}

body {
  background: var(--phv-background-color);
  color: var(--phv-text-color);
}